
<div class="main-search">
  <div>
    <%= form_tag(search_results_path, method: "GET") do %>
      <%= text_field_tag :term, nil, class: "form-control search-input" %>
      <%= select_tag(:distance, options_for_select([['10km', 10], ['20km', 20], ['50km', 50], ['100km', 100]]), class: "btn btn-secondary btn-lg") %>

    <%= submit_tag "Search", class: "btn btn-primary btn-lg"  %>
    <% end %>
  </div>
</div>
<br>

  <%= link_to search_results_path(term: "Central Coast, NSW", distance: 50) do %>
<div class="container">
  <div class="card card-inverse">
    <img class="card-img" src="http://www.centralcoastaustralia.com.au/imagesdb/headerimages/bg-beach.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h3 class="card-title">Central Coast</h3>
    </div>
  </div>
  <% end %>
  <br>
  <%= link_to search_results_path(term: "Blue Mountains", distance: 50) do %>
  <div class="card card-inverse">
    <img class="card-img" src="https://www.sydneyboutiquetours.com.au/images/mountains_tour/ThreeSisters.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h3 class="card-title">Blue Mountains</h3>
    </div>
  </div>
  <% end %>
  <br>
  <%= link_to search_results_path(term: "Jervis Bay, NSW", distance: 50) do %>
  <div class="card card-inverse">
    <img class="card-img" src="https://www.steveparish-natureconnect.com.au/wp-content/uploads/140112.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h3 class="card-title">Jervis Bay</h3>
    </div>
  </div>
  <% end %>
</div>
