<div class="container">
  <br>
  <h2><%= params[:term] %></h2>
  <br>
  <% if @locations.empty? %>
    Sorry, no accommodation found for this location. Try another.
  <% else %>

  <div class="accom-result">
    <h4>Accommodation:</h4>
    <% @locations.each do |l| %>
    <%= link_to l.title, accommodation_path(l), data: { lat: l.latitude, lon: l.longitude } %><br>
    <% end %>
  </div>

  <div id="map"></div>

  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        // zoom: 9,
        center: {lat: -33.8697753, lng: 151.2059688}
      });

      var searches = [
        <% @locations.each do |location|%>
          ['<%= location.title %>', <%= location.latitude%>, <%= location.longitude %>],
        <%end%>
      ];

      var bounds = new google.maps.LatLngBounds();

      var pinImage = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/ff0054/");

      var pinImage2 = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/0099FF/");

      searches.forEach(function(location){
        var lat = location[1];
        var lng = location[2];
        var marker = new google.maps.Marker({
          map: map,
          position: {lat: lat, lng: lng},
          title: location[0],
          icon: pinImage
        });
        bounds.extend(marker.getPosition());

        $("a[data-lat='" + lat + "']").on("mouseover", function () {
          marker.setIcon(pinImage2);
        });
        $("a[data-lat='" + lat + "']").on("mouseout", function () {
          marker.setIcon(pinImage);
        });
      })
      map.fitBounds(bounds);

    }
  </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHUFsZfdiSTlWvUkgwPWHwrmzfLAQQJyk&callback=initMap">
    </script>


  <% end %>
</div>
